<h2>Carro de compras</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.product.price * item.quantity}}</td>
            <td>
                <button (click)="onDeleteCart(item.product.id)" class="btn btn-sm btn-danger">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end fw-bold" colspan="4">Total</td>
            <td class="text-start fw-bold" colspan="1">{{total}}</td>
        </tr>
    </tfoot>
</table>