<navbar [items]="items" (showCartEventEmitter)="setShowCart()"/>
<div class="container my-4">
    <h2>Catalogo de productos</h2>
    <div class="row">
        <div [className]="showCart ? 'col-9' : 'col-12'">
            <catalog [products]="products" (productEventEmitter)="onAddCart($event)"/>
        </div>
        <div class="col-3" *ngIf="showCart">
            <cart [total]="total" [items]="items" (idProductEventEmitter)="onDeleleteCart($event)" (showCartEventEmitter)="setShowCart()"
                *ngIf="items.length > 0 else sinElementos" />
            <ng-template #sinElementos>
                <p class="alert alert-warning">No hay elementos en el carrito</p>
            </ng-template>
        </div>
    </div>
</div>